Flask==3.0.0
transformers
torch
mplfinance
plotly==5.11.0
matplotlib==3.5.2
numpy==1.22.3
pandas==1.4.2
python-binance==1.0.19
aiohttp==3.9.1
attrs==23.2.0
certifi==2023.11.17
charset-normalizer==3.3.2
configparser==6.0.0
contourpy==1.2.0
cycler==0.12.1
dateparser==1.2.0
fonttools==4.47.0
frozenlist==1.4.1
greenlet==3.0.3
idna==3.6
kiwisolver==1.4.5
matplotlib==3.8.2
mplfinance==0.12.10b0
multidict==6.0.4
mysqlclient==2.2.4
numpy==1.26.3
packaging==23.2
pandas==2.1.4
pillow==10.2.0
pycryptodome==3.19.1
pyparsing==3.1.1
python-binance==1.0.19
python-dateutil==2.8.2
pytz==2023.3.post1
redis==5.0.1
regex==2023.12.25
requests==2.31.0
six==1.16.0
SQLAlchemy==2.0.27
SQLAlchemy-Utils==0.41.1
typing_extensions==4.10.0
tzdata==2023.4
tzlocal==5.2
ujson==5.9.0
urllib3==2.1.0
websockets==12.0
yarl==1.9.4
